@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
	background-color: #004f32;
}

.usermain_wrapper {
    color: white;
    height: 100%;
    width: 680px;
    text-align: center;
    margin: auto;
}

.content_wrapper {
	border: solid 2px white;
	padding: 10px;
	width: 550px;
    margin: auto;
}

.upper_title {
	border: solid 1px white;
	font-size: 40px;
	margin-top: 190px;
	margin-bottom: 18px;
}

.main_title {
	border: solid 1px white;
	font-size: 50px;
	margin-top: 50px;
}

.start {
	border: solid 1px white;
	margin-top: 50px;
}

.start_btn {
	font-size: 27px;
    width: 140px;
    height: 70px;
    border-radius: 20px;
}

.bottom_title {
	border: solid 1px white;
	font-size: 20px;
	margin-top: 50px;
}

/* ============================userNick.jsp css============================================ */

.insert_nickname {
	margin: auto;
	width: 500px;
    height: 40px;
    border-radius: 10px;
    padding-top: 20px;
}

.nickname_field {
    width: 500px;
    height: 40px;
    border-radius: 10px;	
}

input::placeholder {
	text-align: center;
	font-size: 15px;
}

/* ============================userSurvey.jsp css============================================ */

#bar {
	width: 100%;
	height: 30px;
}

.select_items button {
	border: solid 1px white;
	cursor: pointer;
	font-family: NanumSquare;
	font-size: 20px;
	color: white;
    background-color: transparent;
	width: 500px;
    height: 60px;
    margin-bottom: 18px;
}

.items_btn {
	transition-duration: 0.3s;
}

.items_btn:hover {
	background-color: white; 
    color: #004f32;
}

.prev_btn button {
	border: solid 1px white;
    cursor: pointer;
    font-family: NanumSquare;
    font-size: 20px;
    color: white;
    background-color: transparent;
    width: 150px;
    height: 60px;
    margin-bottom: 18px;
}